<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDetail</title>
</head>

<body>
    <!-- Movie-Detail
icon und Suchleiste bleiben + button "back"

big picture of movie
Star rating

description:
movie.title
release-date
categorie-buttons
plotsummary:
text-->

</body>

</html>